<div class="container">
	<div class="wrapper">
		<div class="row">
			<div class="col-md-12">
				<h3 class="page-header"><i class="fa fa-search"></i>Tìm thấy <span id="search-result">{{nBookResult}}</span>&nbsp;sách</h3>
			</div>
		</div>
	</div>
	{{#each search_book}}
	<div class="row frame">
		<div class="col-md-4">
			<a href="/book-detail.html?id_book={{id_sach}}"><img src="{{link}}" class="avatar-resize" style="margin-bottom:10px;width:150px;height:150px"></a>
		</div>
		<div class="col-md-8">
			<div class="row info-row">
				<div class="col-md-3">Tên sách:</div>
                <a href="/book-detail.html?id_book={{id_sach}}"><div class="col-md-9" style="font-weight:bold">{{ten_sach}}</div></a>
			</div>
			<div class="row info-row">
				<div class="col-md-3">Tác giả:</div>
                <div class="col-md-9">{{tac_gia}}</div>
			</div>
			<div class="row info-row">
				<div class="col-md-3">ISBN:</div>
                <div class="col-md-3">{{ma_ISBN}}</div>
                <div class="col-md-1"></div>
                <div class="col-md-5">Sách của: <a href="/bookshelf-detail.html?id_user={{id_chu}}">{{ten_user}}</a></div>
			</div>
		</div>
	</div>
	{{/each}}
	<div class="wrapper">
		<div class="row">
			<div class="col-md-12">
				<h3 class="page-header"><i class="fa fa-search"></i>Tìm thấy <span id="search-result">{{nUserResult}}</span>&nbsp;người dùng</h3>
			</div>
		</div>
	</div>
	{{#each search_user}}
	<div class="row frame">
		<div class="col-md-4">
			<a href="/bookshelf-detail.html?id_user={{id_user}}"><img src="{{avatar}}" class="avatar-resize" style="width:100px;height:120px"></a>
			<a href="/bookshelf-detail.html?id_user={{id_user}}"><h5 class="text-center">{{ten_user}}</h5></a>
		</div>
		<div class="col-md-8">
			<div class="row info-row">
				<div class="col-md-3">Họ và tên:</div>
                <a href="/bookshelf-detail.html?id_user={{id_user}}"><div class="col-md-9" style="font-weight:bold">{{ten_user}}</div></a>
			</div>
			<div class="row info-row">
				<div class="col-md-3">Ngày sinh:</div>
                <div class="col-md-9">{{ngay_sinh}}</div>
			</div>
			<div class="row info-row">
				<div class="col-md-3">Email:</div>
                <div class="col-md-3">{{email}}</div>
			</div>
		</div>
	</div>
	{{/each}}
</div>