<div class="container">
	<div class="wrapper">
		<div class="row">
			<div class="col-md-12">
				<h3 class="page-header"><i class="fa fa-search"></i>Kết quả tìm kiếm cho sách: <span id="search-result">{{{amount}}}</span>&nbsp;kết quả</h3>
			</div>
		</div>
	</div>
	{{#each search-book}}
	<div class="row frame">
		<div class="col-md-4">
			<img src="{{bookimage}}" class="avatar-resize">
		</div>
		<div class="col-md-8">
			<div class="row info-row">
				<div class="col-md-3">Tên sách:</div>
                <div class="col-md-9">{{ten_sach}}</div>
			</div>
			<div class="row info-row">
				<div class="col-md-3">Tác giả:</div>
                <div class="col-md-9">{{tac_gia}}</div>
			</div>
			<div class="row info-row">
				<div class="col-md-3">ISBN:</div>
                <div class="col-md-3">{{ma_ISBN}}</div>
                <div class="col-md-1"></div>
                <div class="col-md-5">Sách của <a href="{{profile}}">{{ten_user}}</a></div>
			</div>
		</div>
	</div>
	{{/each}}
	<div class="wrapper">
		<div class="row">
			<div class="col-md-12">
				<h3 class="page-header"><i class="fa fa-search"></i>Kết quả tìm kiếm cho thành viên: <span id="search-result">{{{amount}}}</span>&nbsp;kết quả</h3>
			</div>
		</div>
	</div>
	{{#each search-user}}
	<div class="row frame">
		<div class="col-md-4">
			<img src="{{useravatar}}" class="avatar-resize">
			<a href="{{profile}}"><h5 class="text-center">{{ten_user}}</h5></a>
		</div>
		<div class="col-md-8">
			<div class="row info-row">
				<div class="col-md-3">Họ và tên:</div>
                <div class="col-md-9">{{ten_user}}</div>
			</div>
			<div class="row info-row">
				<div class="col-md-3">Ngày sinh:</div>
                <div class="col-md-9">{{ngay_sinh}}</div>
			</div>
			<div class="row info-row">
				<div class="col-md-3">Email:</div>
                <div class="col-md-3">{{email}}</div>
			</div>
		</div>
	</div>
	{{/each}}
</div>