<section class="section-padding">
        <div class="container">
            <div class="row">
                <div class="header-section text-center">
                    <h2>Được xem nhiều nhất</h2>
                    <hr class="botton-line">
                </div>
            </div>
            <div class="row">
                {{#each viewbook}}
                <div class="col-md-3">
                    <a href="/bookshelf-detail.html?id_user={{id}}"><img class="img-responsive" src="{{avatar_user}}"></img></a>
                    <h5 class="header-section text-center"><a style="font-weight:bold;" href="/bookshelf-detail.html?id_user={{id}}">{{ten_user}}</h5></a>
                    <!--<b>Rating: </b><span>{{ratings}}</span>-->
                </div>
                {{/each}}
            </div>
            <div class="row">
                <div class="header-section text-center">
                    <h2>Tủ sách có rating cao</h2>
                    <hr class="botton-line">
                </div>
            </div>
            <div class="row">
                {{#each viewbook}}
                <div class="col-md-3">
                    <a href="/bookshelf-detail.html?id_user={{id}}"><img class="img-responsive" src="{{avatar_user}}"></img></a>
                    <a style="font-weight:bold;" href="/bookshelf-detail.html?id_user={{id}}"><h5 class="header-section text-center">{{ten_user}}</h5></a>
                    <!--<b>Rating: </b><span>{{ratings}}</span>-->
                </div>
                {{/each}}
            </div>
        </div>
    </section>